<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset=utf-8>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>

<form class="form" id="input_id">Введите свой id:
    <input  name="id"/>
    <button form="input_id" formmethod="get" formaction="/student_info/">OK</button>
</form>

</body>
</html>