<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Задания студентов</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body style="margin: auto">
<div style="width: 500px; margin: auto; text-align: center; border: cadetblue; background-color: lightgray">
    <h1>Задания студентов</h1>
    <div>
        <a href="/task/create"><button class="button">Создать задание (назначить предметы) студенту</button></a>
    </div>
    <div th:if="${tasks.size() > 0}">
        <div class="request" th:each="record : ${tasks}">
            <h3 th:text="${'Студент №'+record.getStudentId() +' Дата сдачи: '+#dates.format(record.getDeadLine(), 'dd-MM-yyyy')}"></h3>
            <div>
                <span th:text="${record.getStatus().getMessage()}"/>
            </div>
            <a th:href="@{/task/view/{id}(id=${record.getStudentId()})}">Просмотр</a>
            <a th:href="@{/task/assessment}">Выставление оценки</a>
        </div>
    </div>
    <br>
    <div th:if="${tasks.size() == 0}">
        Текущих заданий нет
    </div>

    <br>
    <div>
        <a href="/">
            <button class="button">Вернуться в главное меню</button>
        </a>
        <br>
    </div>

</div>

<style>
    .button {
        margin-bottom: 10px;
        background-color: lightseagreen;
        font-size: medium
    }
</style>

</body>
</html>
